@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
  background: linear-gradient(to bottom, #4b1ed3, #180061);
}

/*
LANDING PAGE 
*/

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px;
}

#landing-page {
  min-height: 100vh;
  
}

.title {
  position: relative;
  font-size: 110px;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  cursor: default;
}

figure {
  position: fixed;
  right: 10%;
  top: 10%;
}

.bg-img {
  width: 100%;
  height: 100%;
  max-width: 850px;
  max-height: 850px;
  filter: opacity(0.6);
}

/*
SEARCH BUTTON
*/

.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-bar button img {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
